@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100vh;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  background: #000;
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari and Opera */
.gray-scrollbar::-webkit-scrollbar {
  background: transparent;
  display: block;
  width: 6px;
}
.gray-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}

.gray-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
